body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 1200px;
    background-color: #e8f1f8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.registro-form, .login-form {
    width: 45%;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffb6c1; /* Rosa pastel */
}
h2 {
    color: #4b6584;
}
label {
    display: block;
    margin-bottom: 5px;
    color: #4b6584;
}
input[type="text"],
input[type="email"],
input[type="password"] {
    width: calc(100% - 20px); /* Reducir ancho para dejar espacio de padding */
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 10px; /* Asegura espacio de ambos lados */
    margin-right: 10px; /* Asegura espacio de ambos lados */
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff; /* Blanco */
}
button {
    width: calc(100% - 20px); /* Reducir ancho para dejar espacio de padding */
    padding: 10px;
    margin-left: 10px; /* Asegura espacio de ambos lados */
    margin-right: 10px; /* Asegura espacio de ambos lados */
    background-color: #fffacd; /* Amarillo pastel */
    border: none;
    border-radius: 5px;
    color: #4b6584;
    font-size: 16px;
    cursor: pointer;
}
button:hover {
    background-color: #ffd700; /* Amarillo pastel más oscuro */
}
.mensaje-error {
    color: #eb3b5a;
    margin-top: 10px;
}
